$updateHeader: true;
/* General */
$fontSize: 14px;
$logoSize: 130px;
$bodyBgColor: #f3f7fa;
$textColor: #333333;
$textSecondaryColor: #707070;
$borderRadius: 3px;
$dividerColor: #e3e3e3;
$transitionDuration: 0.2s;
$maskBgColor: #424242;
$focusShadowColor: #8dcdff;

/* Menu Common */
$menuitemBadgeBgColor: #007be5;
$menuitemBadgeColor: #ffffff;
$submenuFontSize: 13px;
$menuitemActiveRouteColor: #fff;
$menuitemActiveRouteBorderTipColor: #e22929;
$menuitemActiveRouteBgColor: #567288;

/* Menu Light */
$menuBgColorFirst: #fff;
$menuBgColorLast: #fff;
$menuitemColor: #232428;
$menuitemHoverColor: #e22929;
$menuitemActiveColor: #e22929;
$menuitemActiveBgColor: #ffffff;
$menuitemBorderColor: rgba(207, 211, 224, 0.6);

/* Menu Dark */
$menuDarkBgColorFirst: #4d505b;
$menuDarkBgColorLast: #3b3e47;
$menuitemDarkColor: #ffffff;
$menuitemDarkHoverColor: #0388e5;
$menuitemDarkActiveColor: #0388e5;
$menuitemDarkActiveBgColor: #2e3035;
$menuitemDarkBorderColor: rgba(52, 56, 65, 0.6);

/* Topbar */
$topbarLeftBgColor: #e23434;
$topbarRightBgColor: #e22929;
$topbarItemBadgeBgColor: #e22929;
$topbarItemBadgeColor: #ffffff;
$topbarItemColor: #ffffff;
$topbarItemHoverColor: #c3e8fb;
$topbarSearchInputBorderBottomColor: #ffffff;
$topbarSearchInputColor: #ffffff;

/* Footer */
$footerBgColor: #ffffff;

//dormer colors
//gemsbody
$gemsBgColor: #fffaf0;
//table header bg
$tableBgHeader: #a6a6a6;
$tableHeaderBorder: #9c9b9b;
//sub heading color
$subHeadingBg: #ece0cc;
$subHeadingBorderColor: #b6b6b6;
$subHeadingGradientfrom: #ece0cc;
$subHeadingGradientto: #dec9a5;
$tableHeaderBgFrom: #c7c7c7;
$tableHeaderBgTo: #9d9d9d;
//dormer dialog header
$dialogHeaderBg: #ddd;
$dialogHeaderColor: #495057;
$dialogHeaderbBorderBottom: #c8c8c8;

//gem main heading
$gemMainHeadingColor: white;

//doremer splitter gutter
$splitterBoder: #c8c8c8;
$splitterColor: #333333;

//paginator of tables
$paginatorBg: #d1b055;
$paginatorBorderColor: #d1b055;
$paginatorColor: #ffffff;

//mack dock
$mackDockColor: #fff;
